<connectionStrings>
  <add name="Default" connectionString="Data Source=db.uat.724.corp;database=UAT_Boss_Scm;uid=uatfull;pwd=Boss@#$234;" providerName="System.Data.SqlClient" />
  <add name="Abp.Redis.Cache" connectionString="redis.uat.724.corp:6380,password=yEhKAMJpV,DefaultDataBase=15" />
  <!--Hangfire-->
  <add name="HangfireDb" connectionString="Data Source=db.uat.724.corp;database=UAT_Boss_Scm_Hangfire;uid=uatfull;pwd=Boss@#$234;" providerName="System.Data.SqlClient" />
  <!--RabbitMq-->
  <add name="RabbitMqServer" connectionString="amqp://uat:URU-xtX-KMh-6kP@rabbitmq.uat.724.corp/uat_host"/>

  <!--elastic search endpoint 多节点用逗号分隔-->
  <add name="es" connectionString="http://es.uat.724.corp:9200" />
</connectionStrings>