<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="Env" value="DEV"/>
  <variable name="Proj" value="Boss.Scm.CustomsReportHost"/>
  <targets>
    <target xsi:type="Console"
         name="c"
         layout="${newline}${message}${newline}${exception:format=toString}${newline}"
         footer="================================================="
         header="${newline}${longdate} ${logger}${newline}"
         encoding="utf-8"
         error="true"
         detectConsoleAvailable="true" />

    <target name="f"
            xsi:type="File"
            layout="[${date:format=dd/MMM/yyyy\:HH\:mm\:ss zz00:culture=en}] [${level}] [${logger}] MSG[${message}]MSG EX[${exception:format=toString}]EX"
            fileName="d://logs/elk/${Env}.${Proj}.${date:format=yyyyMMdd}.log"
            keepFileOpen="false"
            encoding="utf-8" />
   </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="c" />
    <logger name="*" minlevel="Info" writeTo="f" />
  </rules>
</nlog>
