<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="Env" value="PRD"/>
  <variable name="Proj" value="Boss.Scm.CustomsReportHost"/>
  <targets>
    <target name="f"
            xsi:type="File"
            layout="[${date:format=dd/MMM/yyyy\:HH\:mm\:ss zz00:culture=en}] [${level}] [${logger}] MSG[${message}]MSG EX[${exception:format=toString}]EX"
            fileName="c://logs/elk/${Env}.${Proj}.${date:format=yyyyMMdd}.log"
            keepFileOpen="false"
            encoding="utf-8" />

    <target name="mail" xsi:type="Mail"
          layout="${newline}${longdate}${newline}${logger}${newline}${message}${newline}${exception:format=toString}${newline}================================================="
          smtpServer="smtp.exmail.qq.com"
          smtpPort="25"
          smtpAuthentication="Basic"
          smtpUserName="XXXX@XXXX.com"
          smtpPassword="XXXX"
          enableSsl="false"
          from="XXXX@XXXX.com"
          to="XXXX@XXXX.com"
            subject="[${var:Env}] ${level} Message of ${Proj} on ${machinename}"
          />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />
    <logger name="*" minlevel="Error" writeTo="mail" />
  </rules>
</nlog>
